* {
    margin: 0;
    padding: 0;
}
.category_article_block {
    padding: 50px 0;
}
.category_title_block {
    font-size: 1.3em;
    font-family: Mardoto-Bold;
}
.category_main_block {
    /*width: 100%;*/
    /*height: 430px;*/
    margin: 20px 0;
}
.category_main_block  img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.articleCat {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    background: #0075de;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: Mardoto-Light;
}
.articleCat:hover {
    background: #0075de;
    color: #fff;
}

#lightgallery {
    display: inline-block;
    width: 100%;
    margin: 20px 0 20px 0;
}
#lightgallery a {
    width: 220px;
    height: 172px;
    margin: 10px;
    display: block;
    float: left;
}
#lightgallery img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.time {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
}
.articleSharer {
    height: 24px;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    align-items: center !important;

}
.fb-share-button {
    padding-right: 10px;
}

.ya-share2 {
    margin: 0;
    padding-top: 3.5px;
    display: flex;
align-items: center;
}
