@media (max-width: 1024px) {
    .timeline a img {
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 75px;
        float: left;
        margin-right: 10px;
    }

    .timeline a span {
        font-size: 12px;
    }

}

@media (max-width: 993px) {
    .main-slider-caption > h5 {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .main-slider-caption > h5 {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .card-body {
        padding: 1rem 0;
    }

}

@media (max-width: 557px) {
    .main-slider-caption > h5 {
        font-size: 14px;
    }

}

@media (max-width: 380px) {
    .main-slider-caption > h5 {
        font-size: 13px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 1rem !important;
        height: 1rem !important;
    }

}


@media (max-width: 306px) {
    .main-slider-caption > h5 {
        font-size: 12px;
    }
}

@media (max-width: 155px) {
    .main-slider-caption > h5 {
        font-size: 10px;
    }

    .timeline a img {
        width: 25px;
        height: 25px;
    }

}
