* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Mardoto-Thin;
    src: url(../fonts/Mardoto/Mardoto-Thin.ttf);
}

@font-face {
    font-family: Mardoto-Light;
    src: url(../fonts/Mardoto/Mardoto-Light.ttf);
}
@font-face {
    font-family: Mardoto-Regular;
    src: url(../fonts/Mardoto/Mardoto-Regular.ttf);
}
@font-face {
    font-family: Mardoto-Medium;
    src: url(../fonts/Mardoto/Mardoto-Medium.ttf);
}

@font-face {
    font-family: Mardoto-Bold;
    src: url(../fonts/Mardoto/Mardoto-Bold.ttf);
}

@font-face {
    font-family: Mardoto-Black;
    src: url(../fonts/Mardoto/Mardoto-Black.ttf);
}

:root {
    --main-color: #154d5e;
    --black: #000000;
    /*--footer-color:#151414;*/
    --white: #fff;
    --grey: #878787;
    --slider-caption:rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

section {
    margin: 32px auto;
}

/*!*<!-- navigation -->*!*/

.navbar {
    background-color: var(--black);
    z-index: 10;
    padding: 0 0.75rem;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-family: Mardoto-Bold;
    padding: 1rem 0.5rem !important;
}

.nav-link:hover {
    color: #ffffff;
    background-color: var(--main-color);
}

.nav-link:focus {
    color: var(--white);
}

/*NAVBAR TOGGLER */

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;
    outline: 0 !important;
    margin-left: auto !important;
}
.navbar button[aria-expanded="true"] > span.closeButton {
    display: inline;
}

.navbar button[aria-expanded="true"] > span.openButton {
    display: none;
}

.navbar button[aria-expanded="false"] > span.closeButton {
    display: none;
}

/*SEARCH INPUT*/

.search {
    position: relative;
    margin: 0.5rem 0.5rem !important;
}

.search input {
    width: 250px;
    padding: 0.3rem 0;
    background: #fcfcfc;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    cursor: text;
    text-indent: 32px;
    font-family: Mardoto-Regular;
    font-size: 15px;
}
.search input:focus {
    outline: none;
    border: none;
    border-radius: 5px;
}

.search .fa-search {
    position: absolute;
    top: 0.6rem;
    left: 0.3rem;
    color: var(--black);
}

/*dropdown-menu*/

.dropdown-menu {
    background-color: var(--black);;
}
.dropdown-menu .dropdown-item {
    color: var(--white);
    font-size: 12px;
    font-family: Mardoto-Bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--main-color);
}

/*SLIDER*/

.main-slider-item, .main-slider {
    aspect-ratio: 1280/721.13;
}

.main-slider-item img {
    object-fit: cover;
    aspect-ratio: 1280/721.13;
}
.main-slider-caption {
    background: var(--slider-caption);
    overflow: hidden;
    text-align: start;
    height: 90px;
    padding: 12px 32px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-slider-caption > h5 {
    color: var(--white);
    font-size: 20px;
    line-height: 1.6;
    font-family: Mardoto-Light;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     overflow: hidden;
}

/*!*MAIN*!*/

/*!*CARD*/
.categories .card:hover {
    transform: scale(1.01);
}
.categories .card-body .card-title {
    font-size: 17px;
    font-family: Mardoto-Bold;
    color: #000000;
}

.categories .card-body .card-date {
    color: #8D8D8D;
    font-size: 14px;
    margin: 8px 0;
}

.categories .card-body .card-article p {
    color: #363636;
    font-size: 16px;
    font-family: Mardoto-Regular;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.card_image-block {

}
.card_image-block img {
    width: 270px;
    height: 170px;
    object-fit: cover;
    object-position: center;
}
/*TIMELINE*/

.news-category-title{
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
.news-category-title:hover {
    color: #ED6F3D;

}

.timeline {
    height: 902px;
    overflow-x: auto;
    margin-bottom: 16px;
    position: relative;
    padding-right: 16px;
    padding-bottom: 16px;
}


.timeline::-webkit-scrollbar {
    width: 10px;
    height: 10px;
     background-color: #fff;
}

.timeline::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}
.timeline::-webkit-scrollbar-thumb {
    background-image: url(../icons/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
}


.timeline a {
    display: block;
    min-height: 110px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    position: relative;
    margin-right: 10px;
    transition: .3s;
}
.timeline a:hover {

    transform: scale(1.05);
}

.timeline a img {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}
.timeline a span {
    display: block;
    color: #333;
    font-size: 14px;
    font-family: Mardoto-Regular;
    line-height: 20px;
}
.timeline a time {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #888;
    font-family: Mardoto-Light;
    margin-top: 5px;
}


/*CATEGORIES*/

.category-title-block {
    width: 100%;
    padding: 10px 10px;
    background-color:var(--main-color);
}
.category-title-block:hover{
    background-color: #ED6F3D;
}

.category-title-block a, .news-category-title a {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/*SLIDER_MINI*/
.mini-slider, .main-slider-item {
    aspect-ratio: 1280/721.13;
}

.mini-slider-item img {
    object-fit: cover;
    aspect-ratio: 1280/721.13;
}

.mini-slider .carousel-indicators {
    margin-bottom: 0;
}
.mini-slider .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.mini-slider-caption {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.mini-slider-caption h5 {
    width: 100%;
    height: 100px;
    font-size: 14px;
    font-family: Mardoto-Light;
    margin-bottom: 8px;
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: var(--slider-caption);
    padding:12px 32px;
}
.mini-slider-btn {
    opacity: 0;
}

.subTel {
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 5px;
    background: #333;
    height: auto;
    color: #fff;
    font-size: 0.9rem;
    font-family: Mardoto-Bold;
}
/*․subTel_title {*/
/*    display: block;*/
/*    font-size: 13px;*/
/*    font-family: Mardoto-Bold;*/
/*}*/
/*PHOTO CARD BODY*/
.photo-card-body {
    background-color: black;
}
.photo-card-img-top {
    width: 100px;
    height: 100px;
}

.photo-card-title {
    display: block;
    color: var(--white);
    padding-bottom: 10px;
    border-bottom: 1px solid #1673de;
    margin-bottom: 15px;
}

/*FOOTER*/
.footer-section {
    background: var(--black);
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: var(--main-color);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: var(--white);
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: var(--white);
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
/*.facebook-bg{*/
/*    background: #3B5998;*/
/*}*/
/*.twitter-bg{*/
/*    background: #55ACEE;*/
/*}*/

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background:var(--main-color);
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color:var(--main-color);
}
.footer-widget ul li a {
    color: var(--grey);
    text-transform: capitalize;
}

.copyright-area{
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: var(--grey);
}
.copyright-text p a{
    color:var(--main-color);
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color:var(--main-color);
}
.footer-menu li a {
    font-size: 14px;
    color: var(--grey);
}

.main-slider-item .d-none, .mini-slider-item  .d-none{
    display: block !important;
}

.category-page-title {
    padding-top: 50px;
    font-size: 24px;
    font-family: Mardoto-Bold;
}

/*relatedArticles_block*/

.relatedArticles_block {
    padding: 60px 0;
}

.relatedArticles_block_title {
    display: block;
    color: var(--black);
    height: 15px;
    line-height: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Mardoto-Bold;

}

.relatedArticles_title {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    font-family: Mardoto-Light;
    text-decoration: none;
    margin-top: 7px;
    padding-top: 7px;
}
